*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: pink;
    text-align: left;
    font-size: 18px;
    font-weight: 200;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
    color: purple;
}
p{
    color: blanchedalmond;
}
div{
    background: url(./image\ 1.jpg) no-repeat;
    background-size: 800px 500px;
    height: 400px;
    width: 800px;
}